# .NET
*.user
*.suo
.claude
*.vs/
obj/
bin/
SmartCV.API/wwwroot/

# Node
node_modules/
dist/
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
publish
deploy.zip

demos/1.png
demos/2.jpg
demos/3.jpg
demos/4.jpg
demos/5.jpg
demos/6.jpg
